// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
   display: flex;
   justify-content: center;
   height: 100%;
}

.App {
    background-color: #fafafa;
    height: 100%;
 }

 .Root {
    background-color: #fafafa;
    height: 100%;
 }

html, body {
  height: 100%;
  background-color: #fafafa
}

   // @font-face {
   // font-family: 'Billabong';
   // font-style: normal;
   // font-weight: normal;
   // src: url('../../fonts/Billabong.woff');
   // }
//  div {
//    box-align: stretch;
//    align-items: stretch;
//    -ms-flex-align: stretch;
//     align-items: stretch;
//     border: 0 solid #000;
//     box-sizing: border-box;
//     display: -ms-flexbox;
//     display: flex;
//     box-orient: vertical;
//     box-direction: normal;
//     flex-direction: column;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     flex-shrink: 0;
//     -ms-flex-negative: 0;
//     flex-shrink: 0;
//     margin: 0;
//     padding: 0;
//     position: relative;
//  }

   @font-face {
   font-family: 'Billabong';
   font-style: normal;
   font-weight: normal;
   src: local('Billabong'), url('Billabong.woff') format('woff');
   }

.login-page {
   display: flex;
   justify-content: center
}

.login-div {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 350px;
}

.login-form-container {
   display: flex;
   justify-content: center;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
    color: #999;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    right: 0;
    text-overflow: ellipsis;
    background: #fafafa;
    padding: 9px 0 7px 8px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
    width: 100%;
 }

 .login-link-button {
    justify-content: center;
 }

 .login-form-box {
    width: 70%;
 }

 .session-submit {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;   
    width: auto;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
 }


  .demo-session-submit {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;   
    width: 245px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
 }

  .signup-form-container {
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
 }

 .signup-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .signup-input {
    color: #999;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    right: 0;
    text-overflow: ellipsis;
    background: #fafafa;
    padding: 9px 0 7px 8px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    line-height: 18px;
    width: 100%;
 }

 .signup-form-box {
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 250px;
 }

 .login-button  {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative; 
    width: 250px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
 }
 

 .signup-button {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    color: #fff;
    position: relative;  
 }

   .login-signup {
      align-self: flex-end;
      padding: 10px;
   }

   .login-signup-container {
      display: flex;
      justify-content: center;
   }
 
 .main-box {
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 935px;
    width: 100%;
    align-items: stretch;
    display: flex;
    position: relative;
 }
    .instagram-photo-container {
       align-self: center;
       flex-basis: 454px;
       height: 618px;
       margin-left: -35px;
       margin-right: -15px;
       box-align: stretch;
       align-items: stretch;
       box-sizing: border-box;
       display: flex;
       box-orient: vertical;
       box-direction: normal;
       flex-direction: column;
       position: relative;
       background-image: url(https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png)
    }
      
      .instagram-photo{
         margin: 99px 0 0 151px;
         position: relative;
         background-image: url(../../images/ig.jpg);
    }


    .splash-content-container {
          box-flex: 1;
          flex-grow: 1;
          box-pack: center;
          justify-content: center;
          margin-top: 12px;
          max-width: 350px;
          width: 100%;
    }
   
    .greeting-h2 {
      font-weight: 600;
      line-height: 20px;
      font-size: 17px;
      margin: 0 40px 10px;
      color: #999;
      text-align: center;
      display: block;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    }

    .splash-content {
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 1px;
      margin: 0 0 10px;
      padding: 10px 0;
      display: inline-block;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
    }

      .instagram {
         font-family: 'Cookie', cursive; 
         align-self: flex-start; 
         display: flex;
         text-align: center;
	      font-size: 3.6rem;
         justify-content: center;
         padding-top: 10px;
         padding-bottom: 10px;
      }

   .or-container {
      box-orient: horizontal;
      box-direction: normal;
      flex-direction: normal;
      display: flex;
      justify-content: center;
      margin-top: 25px;
      margin-bottom: 25px;
   }

   .or-text {
      color: #999;
      box-flex: 0;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 13px;
      font-weight: 600;
      line-height: 15px;
      text-transform: uppercase;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
   }