

 .App {
  background-color: #fafafa;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-box {
  justify-content: center;
  max-width: 935px;
  width: 100%;
  align-items: stretch;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: baseline;
  height: 100%;
  overflow: hidden; //change the fixed widths and heights of the photo container and the splash container
}

.footer-login {
  flex-direction: row;
  width: 100%;
  color: #003569;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: stretch;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 600;

  & > div {
    display: inline-block;
    width: 100px;
  }

  &:hover {
    text-decoration: none;
  }
}