.navBar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: height .2s ease-in-out;
    height: 77px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

    .navBarContainer {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-direction: row;
        margin-right: calc(10% + 20px);
        margin-left: calc(10% + 20px);
        position: relative;
        // width: 80%;
    }

        .navBar-right-side {
            display: inline-flex;
            align-items: flex-end;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: 0;
        }

            .navBar-explore {
                display: flex;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                opacity: .8;
            }

            .navBar-user {
                display: flex;
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }

            .navBar-logout {
                display: flex;
                width: 90px;
                height: 30px;
                background-color: transparent;
                font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                font-size: 14px;
                text-align: center;
                display: inline-block;
                border: 1px solid #312e2e;
                border-radius: 5px;
            }

            .navBar-addphoto {
                width: 40px;
                display: flex;
                height: 50%;
                margin-right: 20px;
            }

        .navBar-left-side {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .navBar-instagram-logo {
                display: flex;
                width: 30px;
                height: 30px;
                margin-left: 50px;
            }
            
            .navBar-line {
                background-color: #262626;
                height: 28px;
                margin: 0 16px;
                width: 1px;
            }

            .navBar-instagram {
                font-family: 'Cookie', cursive; 
                align-self: flex-start; 
                display: block;
                text-align: center;
                font-size: 28px;
                justify-content: center;
                width: 103px;
                height: 29px;
                padding: 4px;
                margin-bottom: 5px;
            }