
.overall-div {
    padding-top: 60px;
    margin-top: 60px;
    width: 935px;
}


.post-index-item {
    margin-top: 100px;
    width: 610px;
    height: 850px;
    background-color: lightblue;
}

.post-index-container {
    width: inherit;
}

.post-index-item-image {
    width: inherit;
    height: 550px;
}

.index-container {
}

.post-buttons-container {
    width: inherit;
    height: 20px;
    background-color: white;
}

.comments-container {
    width: inherit;
    height: 212px;
    background-color: coral;
}

.like-counter {
    width: inherit;
    
}

.image-preview {
    width: 400px;
    height: 400px;
}
