
.overall-div {
    padding-top: 60px;
    margin-top: 60px;
    width: 935px;
}


.post-index-item {
    margin-top: 100px;
    width: 610px;
    height: 800px;
    background-color: lightblue;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.post-index-container {
    width: inherit;
}

.post-user-header {
    height: 40px;
    padding: 8px;
}

.post-index-item-image {
    width: inherit;
    height: 550px;
}

.post-three-dots-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    margin-top: -20px;
}

.post-three-dots {
    height: 50px;
    width: 50px;
}

.index-container {
}

.post-buttons-container {
    width: inherit;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.heart {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.comment {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.flag {
    width: 25px;
    height: 25px;
    margin-left: 485px;
    margin-top: 5px;
}


.comments-container {
    width: inherit;
    height: 182px;
    background-color: rgb(210, 232, 238);
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.like-counter {
    width: inherit;
    
}

.image-preview {
    width: 400px;
    height: 400px;
}
